<p>Sayın {{fullName}},</p>
<p>
    <a href="{{{ validationUrl }}}">Mailinizi doğrulamk için tıklayınız.</a>
    token: {{validationUrl}}
</p>
<p>
    Bu bağlantı {{expires}} dakika içinde sona erecektir.
</p>