<p>Sayın {{fullName}},</p>
<p>
    {{!-- <a href="{{{ resetUrl }}}">Parolanızı sıfırlamak için tıklayınız</a> --}}
    token: {{resetUrl}}
</p>
<p>
    Bu bağlantı yalnızca {{expires}} dakika içinde geçerlidir.
</p>